line-length = 150 # Maximum line length

[lint.per-file-ignores]
"examples/*" = [ 
        # Error for having multiple # signs per row
        "E266",
        # Error regarding too long lines
        "E501",
        # Missing module docstrings
        "D100",
        "PLR1711",
        #  module-import-not-at-top-of-file
        "E402",
        "PLC0415"
]

[lint]
# These errors are ignored in general
extend-ignore = [
    "D105", # Missing docstring in magic functions
    "D107", # Missing docstring in __init__
    "PLR0912", # Too many branches
    "PLR0913", # Too many arguments in function definition
    "PLR0915", # Too many statements
    "PLR2004" # Magic value used in comparison
    
]

# Here, we explicitly choose the rules that ruff should verify.
# For a full list of available rules, see https://docs.astral.sh/ruff/rules/
select=[
    "D", # Enforce all pydocstyle rules, will be filtered by the convention.
    "D401", # Enforce imparative mood for docstrings
    "E501", # Add 'line-too-long' rule to the enforced rule set.
    "F", # Rules of flake8 according to https://docs.astral.sh/ruff/rules/#pyflakes-f,
    "I", # isort
    "E4", # default choice of ruff
    "E7", # default choice of ruff
    "E9", # default choice of ruff
    "W", # Warnings
    "PL", # Pylint

]

[lint.pydocstyle]
convention = "google"
