name: Documentation Build and Deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-python@v5
        with: {python-version: "3.12"}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --extra docs

      - name: Configure Git Credentials
        run: |
            git config --local user.email "mkdocs-upload[bot]@users.noreply.github.com"
            git config --local user.name "mkdocs-upload[bot]"

      - name: Build with MkDocs
        run: |
          uv run mkdocs build
          pwd
          ls -alt docs/*
          ls -alt site

      - name: Deploy with MkDocs (only on main branch)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: uv run mkdocs gh-deploy --force
