name: Pre-commit Checks
on: [push, pull_request]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          
      - name: Install package with suitable dependency
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[lint]"
          
      - name: Run pre-commit
        run: |
          pre-commit run --all-files
