name: Test Package

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
    
    env:
      SMOKE_TEST: "true"

    steps:
    - uses: actions/checkout@v3
      
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install current package in development mode and test dependencies
        pip install -e "."
        pip install -e ".[test]"
        
    - name: Test with pytest
      run: |
        pytest --cov=octopus --ignore=tests/workflows

    - name: Run example scripts
      run: |
        python examples/basic_classification.py
        python examples/basic_regression.py